* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-image: linear-gradient(231deg, #f4d03f 0%, #16a085 88%);

  display: flex;
  font-family: "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.timer {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.field {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.value {
  display: block;
  font-size: 4.5rem;
}
